# data files
*.csv

# backup files
*.sav
*.bak
*~
*save*

# zip files
*.zip
*.gz

# graphic files
*.pdf
*.png

# python/jupyter binary and temp files
*.pyc
.ipynb_checkpoints/

# use jupytext, so don't add .ipynb files
*.ipynb

.DS_Store
